{% block meta %}
  <meta property="og:url" content="http://camposycampos.mx" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Especialistas en derecho penal: Campos & Campos Abogados" />
  <meta property="og:description" content="Especialistas en Derecho Penal" />
  <meta property="og:image" content="/img/seo/campos-seo.jpg" />
  <meta property="og:image:width" content="900" />
  <meta property="og:image:height" content="534" />

  <meta name="title" content="Especialistas en derecho penal: Campos & Campos Abogados" />
  <meta name="description" content="Especialistas en Derecho Penal" />
{% endblock %}
