.compliance
  &-cover
    margin-top 130px

    &-title
      color $whiteT1
      font-size 58px
      letter-spacing 10px
      margin 0 auto
      text-align center
      text-indent 10px
      text-transform uppercase
      width 996px

      &:after
        background-color $grayT1
        content ""
        display block
        height 1px
        margin 30px 0 45px 0
        width 100%

    &-desc
      color $whiteT1
      font-size 12px
      letter-spacing 1.6px
      line-height 20px
      margin 0 auto
      text-align center
      width 520px

  &-info
    margin 80px auto 0 auto
    width 996px

    &-container
      display flex
      flex-direction row

      &:nth-child(2)
        flex-direction row-reverse

        & .compliance-info-content
          padding 0 100px 0 0

    &-content
      display flex
      flex-direction column
      justify-content center
      padding-left 100px

    &-img
      height 350px
      width auto

    &-title
      color $whiteT1
      font-size 20px
      letter-spacing 7px
      line-height 23px
      margin-top 20px
      text-transform uppercase

    &-desc
      color $whiteT1
      font-size 12px
      letter-spacing 1.6px
      line-height 20px
      margin-top 15px
      width 335px

  &-ethical
    margin 60px auto 90px auto
    position relative
    width 996px

    &-img
      width 100%

    &-card
      background-color $whiteT1
      bottom -45px
      padding 60px
      position absolute
      width 550px

    &-title
      color $blackT1
      font-size 20px
      letter-spacing 6px
      text-transform uppercase

    &-desc
      color $blackT1
      font-size 12px
      letter-spacing 1px
      line-height 17px
      margin 8px 0 25px 0
      width 300px

    &-btns a:nth-child(1) button
      background-color $grayT1
      margin-right 13px

      &:hover
        background-color $whiteT1
        color $grayT1

    &-btns a:nth-child(2) button
      color $grayT1
