.compliance
  &-cover
    margin-top 130px

    &-title
      color $whiteT1
      font-size 58px
      letter-spacing 10px
      margin 0 auto
      text-align center
      text-indent 10px
      text-transform uppercase
      width 830px

      &:after
        background-color $grayT1
        content ""
        display block
        height 1px
        margin 30px 0 45px 0
        width 100%

    &-desc
      color $whiteT1
      font-size 12px
      letter-spacing 1.6px
      line-height 20px
      margin 0 auto
      text-align center
      width 520px

  &-info
    margin 80px auto 0 auto
    width 830px

    &-container
      display flex
      flex-direction row
      margin-bottom 58px

      &:nth-child(2)
        flex-direction row-reverse

        & .compliance-info-content
          padding 0 100px 0 0

    &-content
      display flex
      flex-direction column
      justify-content center
      padding-left 100px

    &-img
      height 100%
      width 338px

    &-title
      color $whiteT1
      font-size 20px
      letter-spacing 7px
      line-height 23px
      margin-top 20px
      text-transform uppercase

    &-desc
      color $whiteT1
      font-size 12px
      letter-spacing 1.6px
      line-height 20px
      margin-top 15px
      width 335px

  &-ethical
    margin 68px auto 130px auto
    position relative
    width 830px

    &-img
      width 100%

    &-card
      background-color $whiteT1
      display flex
      flex-direction column
      height 231px
      justify-content center
      padding-left 75px
      position absolute
      top 37%
      width 459px

    &-title
      color $blackT1
      font-size 20px
      letter-spacing 6px
      text-transform uppercase

    &-desc
      color $blackT1
      font-size 12px
      letter-spacing 1px
      line-height 17px
      margin 8px 0 25px 0
      width 300px

    &-btns a:nth-child(1) button
      background-color $grayT1
      margin-right 13px

      &:hover
        background-color $whiteT1
        color $grayT1

    &-btns a:nth-child(2) button
      color $grayT1

      &:hover
        color $whiteT1

@media screen and (max-width 890px)
  .compliance
    &-cover
      &-title
        padding 0 30px
        width 100%

    &-info
      width auto

      &-container,
      &-container:nth-child(2)
        align-items center
        flex-direction column

      &-container
        margin-bottom 60px

    &-ethical
      padding 0 30px
      width 100%

@media screen and (max-width 560px)
  .compliance
    &-cover
      &-title
        font-size 35px

      &-desc
        padding 0 30px
        width auto

    &-info
      &-container
        &:nth-child(2) .compliance-info-content
          padding 0 30px

      &-img
        height auto
        padding 0 30px
        width 100%

      &-content
        padding 0 30px

      &-desc
        width auto

    &-ethical
      margin-bottom 170px

      &-card
        height auto
        padding 39px 30px
        width 310px

      &-desc
        width auto

      &-btns
        & a:nth-child(1) button
          margin 0 14px 0 0

@media screen and (max-width 390px)
  .compliance
    &-ethical
      &-card
        width 230px

      &-btns
        & a:nth-child(1) button
          margin 0 0 10px 0
