.contact
  display flex
  justify-content center
  margin-top 130px

  &-container
    width 907px

  &-title
    color  $blueT3
    font-size 58px
    letter-spacing 10px
    margin-bottom 40px

  &-info
    color  $blueT3
    display block
    font-size 12px
    margin-bottom 15px
    letter-spacing 1.5px

  &-content
    display flex
    flex-direction row
    padding-bottom 50px

    &-img
      box-shadow 0 31px 13px 0 rgba(0, 0, 0, 0.5)
      height 575px
      margin-top -80px
      width 323px

  &-form
    margin 40px 120px 0 0
    width 464px

  &-textarea,
  &-input
    border-radius 0
    -webkit-appearance none

  &-textarea
    background-color transparent
    border solid 1px $grayT1
    color $blueT3
    font-size 12px
    height 110px
    letter-spacing 1.5px
    width 100%

    &-container
      margin-bottom 24px

  &-input
    background-color transparent
    border none
    border-bottom 1px solid $grayT1
    color $blueT3
    font-size 12px
    height 35px
    letter-spacing 1.5px
    position relative
    transition all 0.2s ease-out
    width 100%
    z-index 1

    &:hover
      border-color $grayT1
      transition all 0.2s ease-out

    &:hover ~ .contact-label
      color $blueT3
      transition all 0.2s ease-out
    
    & ~ .contact-label
      color $blueT3
      font-size 12px
      left 0
      letter-spacing 1.5px
      position absolute
      top 10px
      transition all 0.2s ease-out
    
    &:focus
      border-color $grayT1
      border-width 1px
      outline none
      transition all .2s ease-out
    
    &:focus ~ .contact-label,
    &.has-value ~ .contact-label
      color $blueT3
      font-size 12px
      top -15px

    &.has-value:not(:focus) ~ .contact-label
      color $blueT3

    &-container
      margin-bottom 39px
      position relative

  &-label
    &-textarea
      color $blueT3
      display block
      font-size 12px
      letter-spacing 1.5px
      margin-bottom 10px

@media screen and (max-width 1400px)
  .contact
    justify-content flex-end

@media screen and (max-width 950px)
  .contact
    justify-content center

    &-container
      width 464px

    &-content
      flex-direction column

      &-img
        margin-top 60px

@media screen and (max-width 520px)
  .contact
    padding 0 30px

    &-container,
    &-form
      width 100%

    &-content
      &-img
        height 462px
        width 260px
