.services
  margin-top 140px

  &-title
    color  $blueT3
    font-size 58px
    letter-spacing 10px
    text-align center
    text-indent 10px
    text-transform uppercase

  &-content
    border-bottom solid 1px $grayT1
    margin 100px auto 60px auto
    width 804px

  &-card
    &-container
      display flex
      flex-direction row
      margin-bottom 56px

      &:nth-child(2),
      &:nth-child(5)
        flex-direction row-reverse

        & .services-card-info
          align-items flex-end
          text-align right

    &-info
      display flex
      flex-direction column
      justify-content flex-end

    &-number
      color $grayT1
      font-size 27px
      letter-spacing 8.5px
      line-height 23px

    &-desc
      color  $blueT3
      font-size 16px
      letter-spacing 7px
      line-height 23px
      margin-top 20px
      text-transform uppercase

    &-paragraph
      color  $blueT3
      font-size 12px
      letter-spacing 1.6px
      line-height 20px
      margin-top 15px
      text-align justify

  &-criminal-investigation
    height 333px
    margin-right 80px

  &-criminal-process
    height 343px
    margin-left 80px

  &-execution-sentences
    height 262px
    margin-right 80px

  &-protection
    height 317px
    margin-right 80px

  &-compliance
    height 343px
    margin-left 80px

  &-criminal-investigation,
  &-criminal-process,
  &-execution-sentences,
  &-protection,
  &-compliance
    box-shadow 0 31px 30px 0 rgba(0, 0, 0, 0.5)
    width auto

  &-other
    &-title
      color  $blueT3
      font-size 12px
      letter-spacing 10px
      text-align center
      text-indent 10px
      text-transform uppercase

    &-card
      height 229.15px
      position relative
      width 160px
      background-color #242e56

      &-container
        display flex
        flex-wrap wrap
        justify-content center
        margin-top 60px

      &-img
        height 229.15px
        opacity 0.5
        width 160px

      &-title
        bottom 15px
        color $whiteT1
        font-size 10px
        left 15px
        letter-spacing 4px
        line-height 16px
        position absolute
        right 15px
        text-transform uppercase

@media screen and (max-width 1030px)
  .services
    &-other
      &-card
        &-container
          margin-left auto
          margin-right auto
          width 480px

@media screen and (max-width 900px)
  .services
    &-content
      width 552px

    &-criminal-investigation
      height 190px
      margin-right 40px

    &-criminal-process
      height 241px
      margin-left 40px

    &-execution-sentences
      height 160px
      margin-right 40px

    &-protection
      height 160px
      margin-right 40px

    &-compliance
      height 241px
      margin-left 40px

@media screen and (max-width 600px)
  .services
    margin-top 100px

    &-title
      font-size 40px

    &-content
      margin-top 60px
      width 80%

    &-card
      &-container,
      &-container:nth-child(2),
      &-container:nth-child(5)
        flex-direction column-reverse

      &-desc
        margin-top 10px

    &-criminal-investigation,
    &-criminal-process,
    &-execution-sentences,
    &-protection,
    &-compliance
      height auto
      width 100%
      margin 18px 0 0 0

    &-other
      &-card
        &-container
          width 320px
