{% extends "partials/base.njk" %}

{% block title %}Aviso de privacidad{% endblock %}

{% set view_name = 'notice-privacy' %}

{% block content %}
<section class="privacy">
  <h1 class="privacy-title bebasneue-bold">{{es.noticePrivacy.title}}</h1>
  <section class="privacy-content">
    <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descOnePart1}}&nbsp;<span class="helveneue-bold">{{es.noticePrivacy.descOnePart2}}</span>&nbsp;{{es.noticePrivacy.descOnePart3}}</p>
    <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.paragraph2}}</p>
    <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.paragraph3}}</p>
    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleOne}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descTwo}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleTwo}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descThreePart1}}&nbsp;<span class="helveneue-bold">{{es.noticePrivacy.descThreePart2}}</span>&nbsp;{{es.noticePrivacy.descThreePart3}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleThree}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descFourPart1}}</p>
      <p class="privacy-content-paragraph helveneue"><span class="helveneue-bold">{{es.noticePrivacy.descFourPart2}}</span>&nbsp;{{es.noticePrivacy.descFourPart3}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleFour}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descFive}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleFive}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descSix}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleSix}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descSevenPart1}}&nbsp;<span class="helveneue-bold">{{es.noticePrivacy.descSevenPart2}}</span>&nbsp;{{es.noticePrivacy.descSevenPart3}}</p>
      <p class="privacy-content-paragraph helveneue"><span class="helveneue-bold">{{es.noticePrivacy.descSevenPart4}}</span>&nbsp;{{es.noticePrivacy.descSevenPart5}}&nbsp;<span class="helveneue-bold">{{es.noticePrivacy.descSevenPart6}}</span>&nbsp;{{es.noticePrivacy.descSevenPart7}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleSeven}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descEightPart1}}&nbsp;<span class="helveneue-bold">{{es.noticePrivacy.descEightPart2}}</span></p>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descEightPart3}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleEight}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descNinePart1}}</p>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descNinePart2}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleNine}}</h2>
      <p class="privacy-content-paragraph helveneue"><span class="helveneue-bold">{{es.noticePrivacy.descTenPart1}}</span>&nbsp;{{es.noticePrivacy.descTenPart2}}&nbsp;<span class="helveneue-bold">{{es.noticePrivacy.descTenPart3}}</span>&nbsp;{{es.noticePrivacy.descTenPart4}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleTen}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descEleven}}</p>
    </section>

    <section>
      <h2 class="privacy-subtitle bebasneue-bold">{{es.noticePrivacy.subtitleEleven}}</h2>
      <p class="privacy-content-paragraph helveneue">{{es.noticePrivacy.descTwelvePart1}}&nbsp;<span class="helveneue-bold">{{es.noticePrivacy.descTwelvePart2}}</span>&nbsp;{{es.noticePrivacy.descTwelvePart3}}</p>
    </section>
  </section>
</section>
<div class="backgrounds-privacy"></div>
{% endblock %}
