<!DOCTYPE html>
<html>
  <head>
    {% include 'seo/googleanalytics.njk' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% include 'seo/metatags.njk' %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="/css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>{% block title %}{% endblock %} | Campos & Campos Abogados</title>
    <link runat="server" rel="shortcut icon" href="/img/favicon/camposycampos-favicon.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="/img/favicon/camposycampos-favicon.png" type="image/ico"/>
    {% include 'seo/facebookpixel.njk' %}
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar-en.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer-en.njk' %}
      {% if section == 'index' %}
      <div class="backgrounds-home"></div>
      {% endif %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="/js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="/js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
