<nav class="nav">
  <div>
    <a href="index.html">
      <img class="nav-logo" src="{{es.nav.logo}}" alt="Nav logo">
    </a>
  </div>
  <!-- <div class="nav-option-container">
    <div class="nav-option-content">
      <a href="index.html">
        <span class="nav-option {% if section == 'index' %} active-section {% endif %}">Inicio</span>
      </a>
    </div>
    <div class="nav-option-content">
      <a href="nosotros.html">
        <span class="nav-option {% if section == 'nosotros' %} active-section {% endif %}">Nosotros</span>
      </a>
    </div>
    <div class="nav-option-content">
      <a href="contacto.html">
        <span class="nav-option {% if section == 'contacto' %} active-section {% endif %}">Contacto</span>
      </a>
    </div>
  </div> -->

  <div data-attribute="" class="hamburger-visibility"  id="hamburgerMenu">
    <div class="nav-hamburguer" data-attribute="">
      <div class="hamburger-line-icon-container" data-attribute="">
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
      </div>
    </div>
    <span class="nav-hamburger-text helveneue-bold" style="color: white;" data-attribute="">Menu</span>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="" data-attribute="">
        <a href="index.html" data-attribute="">
          <img class="hamburger-logo" src="{{es.nav.logo}}" data-attribute="" alt="Hamburger menu logo">
        </a>
      </div>
      <div id="hideHamburger">
        <img class="hamburger-close" src="img/icons/close-menu.png" alt="Close hamburger menu">
      </div>
    </div>
    <div class="hamburger-menu-body nunitosans-regular" data-attribute="">
      <div class="hamburger-text-container">
        {% for section in es.nav.sections %}
        <div>
          <a href="{{section.link}}" data-attribute="">
            <span class="hamburger-text bebasneue-bold {% if view_name == section.viewName %} hamburger-active {% endif %}">{{section.section}}</span>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
