{% extends "partials/base-en.njk" %}

{% block title %}Contacto{% endblock %}

{% set view_name = 'contact' %}

{% block content %}
<section class="contact">
  <div class="contact-container">
    <h1 class="contact-title bebasneue-bold">{{en.contact.title}}</h1>
    <span class="contact-info helveneue" style="display: none;">Phone: 65-65-65-65</span>
    <span class="contact-info helveneue">Email: contacto@camposuribe.com</span>
    <section class="contact-content">
      <form class="contact-form" name="camposycampos-contact-form" method="post" action="http://integrations.blick.mx/camposycampos/contact/">
        <div class="contact-input-container">
          <input class="contact-input helveneue" type="text" name="name" id="name" required>
          <label class="contact-label helveneue" for="name">Name</label>
        </div>
        <div class="contact-input-container">
          <input class="contact-input helveneue" type="email" name="email" id="email" required>
          <label class="contact-label helveneue" for="email">Email</label>
        </div>
        <div class="contact-input-container">
          <input class="contact-input helveneue" type="tel" name="phone" id="phone" required>
          <label class="contact-label helveneue" for="phone">Phone</label>
        </div>
        <div class="contact-textarea-container">
          <label class="contact-label-textarea helveneue" for="message">Message</label>
          <textarea class="contact-textarea helveneue" type="text" name="message" id="message"></textarea>
        </div>
        <button class="btn helveneue-medium" type="submit">{{en.contact.btn}}</button>
      </form>
      <img class="contact-content-img" src="{{en.contact.img}}">
    </section>
  </div>
</section>
{% endblock %}
