{% extends "partials/base.njk" %}

{% block title %}Socios{% endblock %}

{% set view_name = 'socios' %}

{% block content %}
<section class="socios">
  <section class="socios-intro">
    <h1 class="socios-intro-title bebasneue-bold">Socios</h1>
    <div class="socios-intro-content">
      <div class="socios-info">
        <div class="socios-info-headers">
          <h3 class="socios-info-subtitle helveneue-medium">Abogado</h3>
          <h2 class="socios-info-title bebasneue-bold">LUIS MIGUEL CAMPOS GUZMÁN</h2>
        </div>
        <div class="socios-info-body">
          <ul>
            <li>Nació el 29 de Junio de 1989 en la Ciudad de México.</li>
            <li>Socio del despacho Campos, Campos & Uribe.</li>
            <li>Es Licenciado en Derecho por la Universidad Nacional Autónoma de México, obteniendo Mención Honorifica con el tema “El delito de lavado de dinero, un régimen penal de excepción” en el año 2013.</li>
            <li>Especialización en Derecho en Crimen Organizado, Corrupción y Terrorismo por la Universidad de Salamanca, España.</li>
            <li>Especialidad en Derecho de Amparo por la Universidad Panamericana.</li>
            <li>Especialidad en Sistema Penal Acusatorio por la Escuela Libre de Derecho</li>
            <li>Maestría en Derecho Penal Acusatorio por el Instituto de Estudios Superiores en Derecho Penal.</li>
            <li>Master en Compliance Officer por la Universidad Complutense de Madrid.</li>
            <li>Certificación sobre Litigación Oral Penal y Sistema Acusatorio Norteamericano por la Latin American Bar Association.</li>
            <li>Es Socio Fundador del Instituto Nacional de Derecho.</li>
            <li>Curso de Análisis del Código Nacional de Procedimientos Penales por el Instituto Nacional de Ciencias Penales</li>
            <li>Curso de Lavado de Dinero y Financiación al Terrorismo por el Instituto Nacional de Ciencias Penales.</li>
            <li>Es miembro activo de la Barra Mexicana Colegio de Abogados, Latin American Bar Association y Asociación Nacional de Abogados de Empresa.</li>
            <li>Fue Miembro del Consejo Editorial de la Sección Justicia del Periódico Reforma en el año 2015.</li>
          </ul>
        </div>
      </div>
      <div class="socios-info">
        <div class="socios-info-headers">
          <h3 class="socios-info-subtitle helveneue-medium">Abogado</h3>
          <h2 class="socios-info-title bebasneue-bold">JORGE ARTURO URIBE LITVAK</h2>
        </div>
        <div class="socios-info-body">
          <ul>
            <li>Socio fundador del despacho Campos, Campos & Uribe.</li>
            <li>Es Licenciado en Derecho por la Universidad Iberoamericana, titulándose en el año 2012.</li>
            <li>Laboró en el Bufete Aguilar y Quevedo del año 2010 al año 2019.</li>
            <li>Realizó el “Taller de Juicios Orales” impartido por el Instituto Nacional de Ciencias Penales, en el año 2013.</li>
            <li>Realizó el curso sabatino denominado “Análisis del Código Nacional de Procedimientos Penales” impartido por el Instituto Nacional de Ciencias Penales, en el año 2014.</li>
            <li>Es miembro de la Barra Mexicana de Abogados.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
<div class="backgrounds-socios"></div>
{% endblock %}
