.footer
  align-items center
  bottom 0
  display flex
  flex-direction column
  height 300px
  justify-content center
  position absolute
  width 100%

  &-logo
    height 38px
    width auto

  &-section
    color  $blueT3
    font-size $fs9
    letter-spacing 6.6px
    text-transform uppercase

    &-container
      margin 30px 0 15px 0

      & a
        margin 0 15px

  &-privacy,
  &-copyright
    color  $blueT3
    font-size $fs10
    letter-spacing 1px

  &-copyright
    margin-top 5px

@media screen and (min-width 521px) and (max-width 680px)
  .footer
    &-section
      &-container
        width 335px
        text-align center

        & a
          display inline-block
          margin 5px 8px

@media screen and (max-width 520px)
  .footer
    &-logo
      height 28px
      width auto

    &-section
      &-container
        align-items center
        display flex
        flex-direction column

        & a
          margin 0 0 10px 0
