*
  box-sizing border-box

html
  //background-color $blueT1
  font-size unit($baseFontSize, 'px')
  min-height 100%
  position relative

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  font-size inherit
  margin 0 0 300px 0

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

a
  outline none

  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background white

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.success, &.error
    margin-top 1em

input, textarea, button, select
  font-family inherit

  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

h1, h2, h3, h4, h5, h6, p
  margin 0

.backgrounds
  &-home
    background-image url("../img/backgrounds/home-cover-bg.png"), url("../img/backgrounds/footer-bg.png"), url("../img/backgrounds/home-compliance-bg.png"), url("../img/backgrounds/home-blog-bg.png")
    background-position top, bottom, left top 785px, bottom 18% right
    background-repeat no-repeat 
    background-size 100%, 100%, 60%, 40%
    bottom 0
    height 100%
    opacity 0.2
    position absolute
    top 0
    width 100%
    z-index -2

@import 'partials/navbar'

@import 'partials/footer'
