@font-face
  font-family 'BebasNeue'
  src url('../fonts/BebasNeueBold.woff') format('woff')
  font-weight $bold
  font-style normal

@font-face
  font-family 'BebasNeue'
  src url('../fonts/BebasNeueBook.woff') format('woff')
  font-weight $medium
  font-style normal

@font-face
  font-family 'BebasNeue'
  src url('../fonts/BebasNeueLight.woff') format('woff')
  font-weight $light
  font-style normal

@font-face
  font-family 'BebasNeue'
  src url('../fonts/BebasNeueRegular.woff') format('woff')
  font-weight $regular
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue-Bold.woff') format('woff')
  font-weight $bold
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue-Medium.woff') format('woff')
  font-weight $medium
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue.woff') format('woff')
  font-weight $regular
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue-Thin.woff') format('woff')
  font-weight $thin
  font-style normal

.bebasneue-bold
  font-family 'BebasNeue'
  font-weight $bold
  -webkit-font-smoothing antialiased

.bebasneue-book
  font-family 'BebasNeue'
  font-weight $medium
  -webkit-font-smoothing antialiased

.bebasneue-light
  font-family 'BebasNeue'
  font-weight $light
  -webkit-font-smoothing antialiased

.bebasneue
  font-family 'BebasNeue'
  font-weight $regular
  -webkit-font-smoothing antialiased

.helveneue-bold
  font-family 'HelveticaNeue'
  font-weight $bold
  -webkit-font-smoothing antialiased

.helveneue-medium
  font-family 'HelveticaNeue'
  font-weight $medium
  -webkit-font-smoothing antialiased

.helveneue
  font-family 'HelveticaNeue'
  font-weight $regular
  -webkit-font-smoothing antialiased

.helveneue-thin
  font-family 'HelveticaNeue'
  font-weight $thin
  -webkit-font-smoothing antialiased
