.btn
  background-color transparent
  border solid 1px $grayT1
  color $blueT3
  cursor pointer
  font-size $fs9
  letter-spacing 4.1px
  height 26px
  padding 0 8px
  text-indent 4.1px
  text-transform uppercase
  transition 0.3s

  &:hover
    background-color $grayT1
    color white
    transition 0.3s

.carousel
  &-arrow
    height 13px
    width 27px !important

.backgrounds
  &-aboutus
    background-image url("../img/backgrounds/about-us-bg.png")
    background-position left center
    background-repeat no-repeat 
    background-size 60%
    bottom 0
    height 100%
    position absolute
    top 0
    width 100%
    z-index -2

  &-services
    background-image url("../img/backgrounds/hamburger-bg-mobile.png"), url("../img/backgrounds/services-footer-background.png")
    background-position left top, bottom
    background-repeat no-repeat 
    background-size 50%, 100%
    bottom 0
    height 100%
    opacity 0.5
    position absolute
    top 0
    width 100%
    z-index -2

  &-privacy
    background-image url("../img/backgrounds/notice-privacy-background.png")
    background-position bottom
    background-repeat no-repeat 
    background-size 100%
    bottom 0
    height 100%
    opacity 0.5
    position absolute
    top 0
    width 100%
    z-index -2

label.error
  color $whiteT1
  font-family 'HelveticaNeue'
  font-size $fs10
  font-weight $regular
  position absolute

@media screen and (max-width 630px)
  .carousel
    &-arrow
      height 9px
      width 18.69px
