.btn
  background-color transparent
  border solid 1px $grayT1
  color $whiteT1
  cursor pointer
  font-size $fs9
  letter-spacing 4.1px
  height 26px
  padding 0 8px
  text-indent 4.1px
  text-transform uppercase
  transition 0.3s

  &:hover
    background-color $grayT1
    transition 0.3s

.carousel
  &-arrow
    height 13px
    width 27px

@media screen and (max-width 630px)
  .carousel
    &-arrow
      height 9px
      width 18.69px
