// COLORS
$errorColor = #ff3636
$successColor = #149a14

$blackT1 = #232323
$blueT1 = #111832
$grayT1 = #758c9d
$whiteT1 = #ffffff

// Base font-size
$baseFontSize = 16

$fs7 = 7px
$fs8 = 8px
$fs9 = 9px
$fs10 = 10px
$fs11 = 11px
$fs14 = 14px
$fs19 = 19px
$fs29 = 29px
$fs76 = 76px

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black
